* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.greytext {
    color: #878787;
}

  

#wrapper {
    display: flex;
    height: calc(100vh - 85px);
    width: 100%;
    
    
  
    
}

.sidebar {
    width: 220px;
    background-color: black;
    
}


.main-section {
    /* width: calc(100vw - 220px); */
    flex-grow: 1;
    height: calc(100vh - 85px);
    padding-top: 85px;
    display: flex;   
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
   
    

}

.upgrade {
    /* background-color: #080B12;  */
    height: 85px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(08, 11, 18, 0.9); 
 


}


.main-content {
    background-color: #141922;    
    width: calc(100vw - 220px); 
    
}

.debug {
    border: 2px dashed green;
}

#toolbar {
    min-height: 85px;
    width: 100%;
    opacity: 0.9;
    background-color: #161616;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}



#toolbar .preview {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

}

#toolbar .preview img {
    width: 43px;
    height: 43px;
    display: block;
    margin-left: 15px;
 
}

#toolbar .song-details {
    font-size: 13px;
    font-weight: bold;
    margin-left: -15px;
}

#toolbar .author {
    display: block;
    font-size: 13px;
    
}

#toolbar .title {
    font-size: 10px;
    
}

#toolbar .title a {
    color: #878787;
}

#toolbar .title a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#toolbar .add i {
    color: #878787;
}

#toolbar .add i:hover{
    color: #FFFFFF;
}

#toolbar .add i:first-child{
    margin-right: 10px;
}